<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<div class="comments">
  
  <form action="/articles/<%= article.id %>/comments" method="POST" class="commentsForm">
    <input name="content" type="text">
    Name: <input type="text" name="commentorName" id="nameArea">
    <input type="submit">
  </form>
</div>

<a href="/">&larr; Back Home</a>
